.header {
    box-sizing: border-box;
    height: 240px;
    padding-top: 96px;
    background-color: var(--white);
    border-bottom: 1px solid var(--grey-2);
}

.header__title {
    margin: 0;
    font: 50px/64px "Inter";
    color: var(--black);
}