.header {
    box-sizing: border-box;
    padding-bottom: 24px;
    padding-top: 24px;
    background-color: var(--white);
}

.header_component-page {
    height: 80px;
    border-bottom: none;
}

.header__title {
    margin: 0;
    font: 50px/64px "Inter";
    color: var(--black);
}

.header__logo {
    height: 32px;
    margin-bottom: 40px;
}

@media all and (max-width: 767px) {
    .header {
        padding-top: 16px;
    }

    .header__logo {
        margin: 0 auto;
        margin-bottom: 48px;
    }

    .header__logo_component-page {
        margin-bottom: 0;
    }

    .header_component-page { 
        height: 64px;
        background-color: transparent;
    }

    .header__title {
        font-size: 28px;
        line-height: 38px;
    }
}