.tabs {
    width: 100%;
}

.tabs__labels {
    margin-bottom: 64px;
    background-color: var(--white);
    border-bottom: 1px solid var(--grey-2);
}

.tabs__labels-container {
    display: flex;
    gap: 40px;
    flex-wrap: nowrap;
    overflow: scroll;
}
    
.tabs__input {
    display: none;
    font-size: 0;
}
    
.tabs__content {
    display: none;
}
    
.tabs__input_all:checked~.tabs__content_all,
.tabs__input_elements:checked~.tabs__content_elements,
.tabs__input_containers:checked~.tabs__content_containers,
.tabs__input_templates:checked~.tabs__content_templates {
    display: block;
}
    
.tabs__label {
    display: inline-block;
    height: 40px;
    text-align: center;
    vertical-align: middle;
    font: 400 16px/24px "Inter";
    padding: 8px 0;
    box-sizing: border-box;
    cursor: pointer;
    color: var(--grey-3);
}

.tabs__label:hover {
    color: var(--black);
}
    
.tabs__input_all:checked ~ .tabs__labels .tabs__label_all,
.tabs__input_elements:checked ~ .tabs__labels .tabs__label_elements,
.tabs__input_containers:checked ~ .tabs__labels .tabs__label_containers,
.tabs__input_templates:checked ~ .tabs__labels .tabs__label_templates {
    border-bottom: 4px solid var(--black);
    color: var(--black);
}

@media all and (max-width: 767px) {
    .tabs__labels-container {
        gap: 24px;
    }
}