.component-page {
    height: 100%;
    display: grid;
    grid-template-rows: auto 1fr auto;
    background-color: var(--grey-1);
}

.component-page__header {
    height: 80px;
    background-color: var(--white);
}

.component-page__main {
    width: 100%;
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 56px;
    align-content: stretch;
    padding-top: 36px;
    padding-bottom: 80px;
    box-sizing: border-box;
}

@media all and (max-width: 767px) {
    .component-page__main {
        display: block;
        padding: 0;
    }

}