.card {
    flex: 0 0 auto;
    width: 33%;
    max-width: 350px;
    margin-bottom: 30px;
    padding: 30px;
    box-sizing: border-box;
    background: var(--white);
    border-radius: 12px;
}

.card__component-container {
    height: 224px;
    margin-bottom: 24px;
    background-color: var(--grey-1);
}

.card__title {
    margin: 0;
    font: 21px/25px Roboto;
    text-align: center;
}