.footer {
    padding: 72px 0 136px 0;
    background-color: var(--white);
    text-align: center;
    border-top: 1px solid var(--grey-2);
}

.footer__title {
    font: 38px/48px "Inter";
    color: var(--black);
}

.footer__description {
    width: 640px;
    margin: 0 auto;
    font: 16px/24px "Inter";
    color: var(--black);
}