.preview {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: space-between;
    gap: 30px;
}

@media all and (max-width: 767px) {
    .preview {
        align-items: flex-start;
        row-gap: 24px;
        column-gap: 16px;
    }
}